h2 {
   font-size: 20pt; 
   color: red; 
   background: yellow; 
}

 h1 {
   font-size: 20pt; 
   color: blue;  
}

body {
   background-image: url(background.jpg);
   background-color: green;
}
